APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

EMAIL_DRIVER=sendmail
EMAIL_PRETEND=true
EMAIL_ADDRESS=noreply@catalex.nz
EMAIL_NAME=CataLex

SMTP_USERNAME=gmailaccount
SMTP_PASSWORD=put_password_here

CACHE_DRIVER=file
SESSION_DRIVER=file

SSO_SHARED_SECRET=put_secret_here

BROWSER_LOGIN_URL=https://browser.catalex.nz/login
