APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

QUEUE_DRIVER=redis

EMAIL_DRIVER=sendmail
EMAIL_PRETEND=true
EMAIL_ADDRESS=noreply@catalex.nz
EMAIL_NAME=CataLex

SMTP_USERNAME=gmailaccount
SMTP_PASSWORD=put_password_here

CACHE_DRIVER=file
SESSION_DRIVER=file

SSO_SHARED_SECRET=put_secret_here

BROWSER_LOGIN_URL=https://browser.catalex.nz/login

DISABLE_PAYMENT=false
PXPAY_USERNAME=CataLexLtd
PXPAY_KEY=put_key_here
PXPOST_USERNAME=CataLexLtd170
PXPOST_KEY=put_key_here

GC_BASE_URI=https://gc.catalex.nz
GC_ADMIN_KEY=xxx

HIDE_SIGN=true

SENTRY_DSN=https://xxxxxxxx@sentry.io/xxxxxx