@import '../../../node_modules/catalex_shared/sass/catalex-vars';

@import 'bootstrap/bootstrap';

$header-height: 100px;
$header-height-sml: 50px;

@import '../../../node_modules/catalex_shared/sass/catalex-common';
@import '../../../node_modules/catalex_shared/sass/catalex-footer';
html {
    position: relative;
    min-height: 100%;
}

body{
        -webkit-font-smoothing: antialiased;
}

footer{
    p{
        margin: 1em 0;
    }
}


nav.navbar{
    height: $header-height-sml;
    min-height: $header-height-sml;

    @media (min-width: $screen-sm-min) {
        height: $header-height;
        min-height: $header-height;
    }
    .navbar-toggle{
        margin: 9px;
    }
    a.nav-brand{
        color: white;

        font-size: 30px;
        line-height: $header-height-sml;
        margin-left: 1em;
    @media (min-width: $screen-sm-min) {
            font-size: 60px;
            line-height: $header-height;
            margin-left:0;
        }
        .catalex-brand-1{
            font-weight: 100;
        }
        .catalex-brand-2{
            font-weight: 500;
        }
        a:hover{
            text-decoration:none;
        }
    }

    .navbar-collapse.in li{
        background-color: $light-red;
            z-index: 1;
        & > a {
            font-size: 1.0em;
        }
    }
}


.services{
    .service{
        text-align: center;
        .image-button{
            background-color: $light-red;
            max-width: 300px;
            width: 100%;
            padding: 20px;
            border-radius: 8px;
            display:inline-block;
            margin: 20px 0;
            img{

                width:100%;
            }
        }
    }
}


ul.social-logins {
	list-style: none;
	padding-left: 0;

	& > li {
		float: left;
		margin-right: 8px;
	}
}

.small-social {
	max-height: 1.5em;
	vertical-align: top;
}

.trial-info {
	h2 {
		margin-top: 0;
	}
	img {
		margin-bottom: 20px;
	}
}

#tab-individual .per-user {
	display: none;
}

.legal-doc ol {
    > p {
        // If we nest a <p> in an <ol> move it to the left a little, so it is seen to not be a list item
        // This is technically not valid HTML, but it is the easiest way to solve the problem or list number
        // continuing after a separate paragraph
        margin-left: -45px;
    }

    ol {
        margin-top: 15px;
    }

    .list-style-lettered {
        list-style-type: upper-alpha;

        .list-style-lowercase {
            list-style-type: lower-alpha;
        }
    }
}

.inside-panel {
	background-color: $panel-bg;
}

table .small-cell {
	@extend .text-center;
	max-width: 100px;
	width: 100px;
	.btn-xs {
		min-width: 0;
		max-width: 80px;
	}
}
table .mid-cell {
	@extend .text-right;
	max-width: 220px;
	width: 220px;
}

.user-list {
	.deleted {
		td:first-child {
			color: $gray-light;
			text-decoration: line-through;
		}
	}
}

.form-group p.small {
	margin-bottom: 0;
}

// TODO: Remove or tidy
form.form-inline .form-group label {
	display: block;
}

.tabular label {
	width: 100px;
}



