@import '../../../node_modules/catalex_shared/sass/catalex-vars';

@import 'bootstrap/bootstrap';

@import '../../../node_modules/catalex_shared/sass/catalex-common';

ul.social-logins {
	list-style: none;
	padding-left: 0;

	> li {
		float: left;
		margin-right: 8px;
	}
}

.trial-info {
	h2 {
		margin-top: 0;
	}
	img {
		margin-bottom: 20px;
	}
}

#tab-individual .per-user {
	display: none;
}

.legal-doc {
	ol ol {
		list-style: lower-alpha;
		ol {
			list-style: lower-roman;
		}
	}
}

// TODO: Remove or tidy
.form-inline .form-group label {
	display: block;
}

// Sticky footer styles
$large-footer-height: 160px;
$small-footer-height: 240px;
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: $small-footer-height;
	@media (min-width: $screen-sm-min) {
		margin-bottom: $large-footer-height;
	}
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: $small-footer-height;
	@media (min-width: $screen-sm-min) {
		height: $large-footer-height;
	}
	padding-top: 24px;
	color: $footer-text;
	background-color: $footer-bg;
	font-size: 13px;

	.links a {
		text-transform: uppercase;
		padding: 0 10px;
	}
}
