@import "bootstrap/bootstrap";

@brand-primary: #d11820;

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

@headings-font-family: "Ubuntu", sans-serif;

p {
	font-family: @headings-font-family;
}

body, label, .checkbox label {
	font-weight: 300;
}

.navbar-brand img {
	max-height: 54px;
}

@media (min-width: @grid-float-breakpoint) {
	.navbar-nav > li > a {
		padding-top: 44px;
		padding-bottom: 20px;
	}
}

ul.social-logins {
	list-style: none;
	padding-left: 0;

	> li {
		float: left;
		margin-right: 8px;
	}
}

.trial-info {
	h2 {
		margin-top: 0;
	}
	img {
		margin-bottom: 20px;
	}
}

#tab-individual .per-user {
	display: none;
}

.legal-doc{
	ol ol{
		list-style: lower-alpha;
		ol{
			list-style: lower-roman;
		}
	}
}

// Sticky footer styles
@footer-height: 160px;
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: @footer-height;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: @footer-height;
	padding-top: 24px;
	color: #595757;
	background-color: #141414;

	.links a {
		font-size: 0.8em;
		text-transform: uppercase;
		padding: 0 10px;
	}
}
